body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: black;
    background: rgb(147, 210, 229);
    text-align: center;
  }
  
  .container{
	margin-top: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
	height: 100%;
	width: 700px;
}
