body {
    font-family: 'Muli', sans-serif;  
    font-size: 30px;
    color: rgb(61, 35, 134);
    background: white;
    text-align: center;
  }
  
  .container {
	margin-top: 100px;
  text-align: center;
	height: 100%;
	width: 700px;
}

